.form{
    width: 100%;
    padding-right: 0;
    padding-left: 0px;
    margin-right: 30%;
    margin-left: 70%;
    margin-top: 30%;
}
.loginform{
    width: 100%;
    padding-right: 0;
    padding-left: 0px;
    margin-right: 50%;
    margin-left: 100%;
    margin-top: 10%;
    
}